*.o
*.log
test.*
src/exec
src/KE

# text editor/IDE
.vs
.vscode
*.swp
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# CMake files
src/CMakeFiles
*.cmake
src/CMakeCache.txt
src/Makefile
